// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postDiv{
    background-color: cornflowerblue;
    color: pink;
    margin: 10px;
    border: 2px solid salmon;
    border-radius: 5px;
    padding: 5px;
}